.form_main_container{
    width: 100vw;
    height: 100vh;

    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.form_main_container > form{
    width: 30%;
    border: 2px solid;
    padding: 30px;
    border-radius: 30px;
}